---
http_interactions:
- request:
    method: get
    uri: https://api.scryfall.com/cards/name?exact=true&path=/cards/name&query=jac%20bel
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "object": "error",
          "code": "not_found",
          "status": 404,
          "details": "The requested object or REST method was not found."
        }
  recorded_at: Fri, 07 Oct 2022 00:02:31 GMT
recorded_with: VCR 6.1.0
