---
http_interactions:
- request:
    method: get
    uri: https://api.scryfall.com/cards/named
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Action-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "object": "error",
          "code": "bad_request",
          "status": 400,
          "details": "You must provide a `fuzzy` or `exact` parameter"
        }
  recorded_at: Sun, 02 Oct 2022 01:07:57 GMT
- request:
    method: get
    uri: https://api.scryfall.com/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "object": "error",
          "code": "bad_request",
          "status": 400,
          "details": "This is the root of the Scryfall API and no data is returned at this path. For more information about the methods and objects this API publishes, please see https://scryfall.com/docs/api"
        }
  recorded_at: Sun, 02 Oct 2022 01:23:20 GMT
recorded_with: VCR 6.1.0
